// User Story #9: My portfolio should have at least one media query.
// User Story #10: The height of the welcome section should be equal to the height of the viewport.
// User Story #11: The navbar should always be at the top of the viewport.

        //text-shadow: 5px 3px 5px #000000;
@import 'variables.scss';

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    background-color: $bodyBGColor;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10rem;
    background: $navbarLinearGradient;
    z-index: 1;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: absolute;
        right: 0;
        li {
            @include margin-zero(0, 2rem);
            a {
                font-size: 3rem;
                color: $navbarFont;
            }
            a:hover {
                color: $welcomeSectionTitleFont;
                transform: scale(1.02, 1.02);
            }
        }
    }
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    height: 100vh;
    background: url("../img/welcome-bg-w1349.png") no-repeat left top, $welcomeSectionLinearGradient;
    h1 {
        font-size: 7.5rem;
        color: $welcomeSectionTitleFont;
    }
    p {
        font-size: 3rem;
        font-weight: 300;
        color: $welcomeSectionParagraphFont;
    }
}

.aboutMe {
    @include margin-zero($paddingTitle, 100px);
    width: 100%;
    height: 100vh;
    text-align: justify;
    background: $aboutSectionLinearGradient;
    .row {
        height: 100%;
    }
    h2 {
        font-size: $SubtitleSizes;
        color: $welcomeSectionTitleFont;
        margin-bottom: 3rem;
    }
    p {
        color: $welcomeSectionTitleFont;
        font-size: 2.5rem;
    }
}

.projects {
    @include margin-zero($paddingTitle, 100px);
    width: 100%;
    height: 100vh;
    background: $projectSextionLinearGradient;
    h2 {
        font-size: $SubtitleSizes;
        color: $welcomeSectionTitleFont;
        margin-bottom: 3rem;
    }
    p {
        color: $welcomeSectionTitleFont;
        font-size: 2.5rem;
    }
    .project-tile{
        @include margin-zero(10px, 5px);
        object-fit: cover;
        .link-image {
            width: 350px;
        }
    }
}

@import 'media.scss';
@import 'hidden.scss';