html {
  font-size: 60%;
  scroll-behavior: smooth;
  text-shadow: 2px 2px 29px black; }

* {
  font-family: Arial, Helvetica, sans-serif !important; }

body {
  background-color: #545ba3; }
  body a {
    text-decoration: none !important; }
  body h2 {
    font-size: 5rem;
    color: white;
    margin-bottom: 3rem; }
  body p {
    color: white;
    font-size: 2.5rem; }

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.804359) 17%, rgba(1, 1, 1, 0.571866) 44%, rgba(1, 1, 1, 0.249737) 67%, rgba(1, 1, 1, 0) 85%);
  z-index: 1; }
  .navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    right: 0; }
    .navbar ul li {
      margin: 0 auto;
      padding: 0 2rem; }
      .navbar ul li a {
        font-size: 3rem;
        color: #949494;
        transition: 0.3s; }
      .navbar ul li a:hover {
        color: white;
        transform: scale(1.02, 1.02); }

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 100vh;
  background: url("../img/welcome-bg-w1349.png") no-repeat left top, linear-gradient(90deg, black 9%, #3d3c3c 78%, #626262 100%); }
  .welcome-section h1 {
    font-size: 7.5rem;
    color: white; }
  .welcome-section p {
    font-size: 3rem !important;
    font-weight: 300;
    color: #d6d6d6; }

.aboutMe {
  margin: 0 auto;
  padding: 7rem 100px;
  width: 100%;
  height: 100vh;
  text-align: justify;
  background: url("../img/hiclipart.com2.png") no-repeat right top, #570300; }
  .aboutMe .row {
    height: 100%; }

.projects {
  margin: 0 auto;
  padding: 7rem 100px;
  width: 100%;
  height: 100%;
  background: #004b57; }
  .projects .card {
    background: #176571;
    color: white;
    transition: 0.3s;
    opacity: 0.85;
    justify-content: center;
    align-items: center;
    text-align: justify; }
    .projects .card .card-body h3 {
      font-size: 2rem; }
  .projects .card:hover {
    transform: scale(1.02, 1.02);
    z-index: 0.5;
    opacity: 1;
    background: #38808b; }
  .projects .project-tile {
    margin: 20px 0px;
    justify-content: center;
    align-items: center; }
    .projects .project-tile .link-image {
      width: 350px; }
    .projects .project-tile .see-more {
      font-size: 4.5rem;
      color: white;
      transition: 0.3s;
      opacity: 0.5; }
    .projects .project-tile .see-more:hover {
      transform: scale(1.02, 1.02);
      z-index: 0.5;
      opacity: 1; }

.contact {
  margin: 0 auto;
  padding: 7rem 100px;
  background: url("../img/welcome-bg-w1349.png") no-repeat left top, linear-gradient(90deg, black 9%, #3d3c3c 78%, #626262 100%);
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 100vh; }
  .contact p {
    font-size: 5rem; }

@media only screen and (max-width: 375px) {
  html {
    font-size: 50%; }
  .aboutMe p {
    font-size: 2rem; }
  .projects {
    margin: 0 auto;
    padding: 7rem 2rem; }
    .projects .project-tile {
      margin: 0 auto;
      padding: 10px 0;
      object-fit: cover; }
      .projects .project-tile .link-image {
        width: 150px; } }

@media only screen and (max-width: 425px) {
  html {
    font-size: 30%; }
  .welcome-section {
    margin: 0 auto;
    padding: 0 3rem;
    text-align: start; }
    .welcome-section h1 {
      font-size: 5rem; }
  .aboutMe {
    margin: 0 auto;
    padding: 7rem 3rem;
    background-image: url("../img/about-little-screens-500.png") no-repeat left top !important; }
    .aboutMe p {
      font-size: 2.3rem; }
  .projects p {
    font-size: 2.3rem; } }

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%; }
  .welcome-section {
    background: url("../img/welcome-bg-800.png") no-repeat left top, linear-gradient(90deg, black 9%, #3d3c3c 78%, #626262 100%); }
  .aboutMe {
    margin: 0 auto;
    padding: 7rem 6rem;
    background-image: url("../img/about-little-screens-800.png") !important; }
  .projects {
    margin: 0 auto;
    padding: 7rem 6rem; }
    .projects .project-tile {
      margin: 0 auto;
      padding: 10px 5px;
      object-fit: cover; }
      .projects .project-tile .link-image {
        width: 200px; } }

@media only screen and (max-width: 1024px) {
  html {
    font-size: 55%; }
  .aboutMe {
    background: url("../img/about-little-screens-1200.png") no-repeat left top, #570300; } }

@media only screen and (min-width: 1400px) {
  html {
    font-size: 68%; }
  .welcome-section {
    background: url("../img/welcome-bg-w1810.png") no-repeat left top, linear-gradient(90deg, black 9%, #3d3c3c 78%, #626262 100%); }
  .aboutMe {
    background: url("../img/hiclipart.com700.png") no-repeat right bottom, #570300; } }

@media only screen and (min-width: 1650px) {
  html {
    font-size: 75%; }
  .aboutMe {
    background: url("../img/hiclipart.com800.png") no-repeat right bottom, #570300; } }

@media only screen and (min-width: 1800px) {
  html {
    font-size: 80%; }
  .welcome-section {
    background: url("../img/welcome-bg-w2713.png") no-repeat left top, linear-gradient(90deg, black 9%, #3d3c3c 78%, #626262 100%); }
  .aboutMe {
    background: url("../img/hiclipart.com900.png") no-repeat right bottom, #570300; } }

@media only screen and (min-width: 2000px) {
  html {
    font-size: 90%; }
  .aboutMe {
    background: url("../img/hiclipart.com1000.png") no-repeat right bottom, #570300; } }

@media only screen and (min-width: 2300px) {
  html {
    font-size: 100%; }
  .aboutMe {
    background: url("../img/hiclipart.com1100.png") no-repeat right bottom, #570300; } }

.hiddenFromPage {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }
