@import 'variables';

.btn-group {
    margin-top: 7rem;
    a {
        padding: 20px 30px;
        font-size: 6rem;
        color: $welcomeSectionTitleFont;
        transition: 0.5s;
        margin: 10px 40px;
        border-radius: 10px;
        opacity: .8;
        text-shadow: none;
    }
    a:hover {
        transform: scale(1.04, 1.04);
        opacity: 0.9;
        z-index: 0.9;
        -webkit-box-shadow: 6px 6px 13px 2px rgba(0,0,0,0.79);
        -moz-box-shadow: 6px 6px 13px 2px rgba(0,0,0,0.79);
        box-shadow: 6px 6px 13px 2px rgba(0,0,0,0.79);
    }
    .linkedin:hover {
        background-color: $linkedin;
    }
    .gitHub:hover {
        background-color: $github;
    }
    .whatsapp:hover {
        background-color: $whatsapp;
    }
    .codepen:hover {
        background-color: $codepen;
    }
    .mail:hover {
        background-color: $mail;
    }
}